span.eqno {
  float: right;
}

p {
  line-height: 24px;
  font-size: 16px;
  margin: 0 0 24px;
  text-align: justify;
}


img {
  border:0;
  -ms-interpolation-mode:bicubic;
  vertical-align:middle;
  max-width:100%;
  padding-bottom: 20px;
 }